################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Hello World/.vs/Hello World
/Hello World/Hello World/obj/Debug
/Hello World/Hello World/.vs
/HMI_Hello_World/.vs/HMI_Hello_World
/HMI_Hello_World/HMI_Hello_World/obj/Debug
